/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
          Purple: hsl(250, 66%, 75%)
          Blue: hsl(207, 90%, 72%)
          Pink: hsl(356, 66%, 75%)
          Teal: hsl(174, 63%, 62%)
    */
    --first-hue: 250;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219;
    --first-color-light: #7B6F71;
    --first-color-lighten: #FBF9F9;

    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 32%, 12%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
  }
  
/*============ BASE ============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body, button, input, textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
    margin-top: 0;
    margin-bottom: 0.5rem;
}

ul{
   list-style: none;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
    --first-color: hsl(31, 76%, 74%);
    --button-color: hsl(0, 0%, 24%);
    --button-color-alt: hsl(0, 0%, 28%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 12%);
    --container-color: hsl(0, 0%, 16%);
    --border-color: hsl(0, 0%, 20%);
  }
  
  /*========== Button Dark/Light ==========*/
  .change-theme {
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  /*========== 
      Color changes in some parts of 
      the website, in dark theme 
  ==========*/
  .dark-theme .change-theme,
  .dark-theme .nav__toggle,
  .dark-theme .nav__shop,
  .dark-theme .button--gray {
    color: hsl(0, 0%, 15%);
  }
  
  .dark-theme .scroll-header {
    box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
  }
  
  .scroll-header .change-theme,
  .scroll-header .nav__toggle,
  .scroll-header .nav__shop {
    color: var(--title-color);
  }
  
  .dark-theme::-webkit-scrollbar {
    background: hsl(0, 0%, 30%);
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .grid {
    display: grid;
    gap: 1.25rem;
  }
  
  .main {
    overflow: hidden;
  }
  
  .section {
    padding: 4.5rem 0 1rem;
  }
  
  .section__title, 
  .section__subtitle {
    text-align: center;
  }
  
  .section__title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
  }
  
  .section__subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
  }
  
  /*=============== HEADER & NAV ===============*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
  }
  
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo {
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: .4s;
  }

  .nav_logo:hover{
    color: var(--first-color-alt);
  }
  
.nav-menu{
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, .8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
}

  .nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_link{
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
  }
  
  /* Active link */
  .active-link {
    background: linear-gradient(180deg,
              hsla(var(--first-hue), var(--sat), var(--lig), 1),
              hsla(var(--first-hue), var(--sat), var(--lig), .2)
            );
    box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4);
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

  /*=============== HOME ===============*/
  .home__container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
  }

  .home__data{
    text-align: center;
  }

  .home_greeting, .home_education{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }

  .home_greeting{
    display: block;
    color: var(--text-color);
    margin-bottom: .25rem;
  }

  .home_education{
    color: var(--text-color);
    margin-bottom: 2.5rem;
  }

  .home_name{
    font-size: var(--biggest-font-size);
  }

  .home__img {
    width: 160px;
  }

  .home_handle{
    justify-self: center;
    width: 190px;
    height: 293px;
    background: linear-gradient(180deg,
                hsla(var(--first-hue), var(--sat), var(--lig), 1),
                hsla(var(--first-hue), var(--sat), var(--lig), .2)
              );
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
  }
  
  .home_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .home__social, .home_scroll{
    position: absolute;
  }

  .home__social {
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
  }
  
  .home__social-link {
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .4s;
  }

  .home__social-link:hover {
    background-color: var(--first-color);
    color: #fff;
  }

  .home__social::after{
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
  }

  .home_scroll{
    color: var(--first-color);
    right: -1.5rem;
    bottom: 4rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
  }

  .home_scroll-icon{
    font-size: 1.25rem;
  }

  .home_scroll-name{
    font-size: var(--small-font-size);
    transform: rotate(-90deg);
  }
  
  /*=============== BUTTONS ===============*/
  .button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
  }

  .button:hover{
    background-color: var(--first-color);
    color: var(--body-color);
  }

  .button--ghost{
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
  } 
  
/*=============== ABOUT ===============*/
  .about__container {
    row-gap: 2.5rem;
  }

  .about__img {
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;
  }
   
  .about_data{
    text-align: center;
  }

  .about_info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
  }

  .about_box{
     background-color: var(--container-color);
     border-radius: .75rem;
     padding: .75rem .5rem;
  }

  .about_icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: .5rem;
  }
  
  .about__title {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
  }

  .about_subtitle{
    font-size: var(--tiny-font-size);
  }
  
  .about__description {
   margin-bottom: 2ren;
  }
  
/*=============== SKILLS ===============*/
.skills_container{
  row-gap: 2rem;
  padding-left: 1rem;
}

.skills_content{
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills_title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills_box{
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills_group{
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills_data{
  display: flex;
  column-gap: .5rem;
}

.skills .bxs-badge-check{
  font-size: 1rem;
  color: var(--first-color);
}

.skills_name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills_level{
  font-size: var(--tiny-font-size);
}

/*=============== QUALIFICATION ===============*/
.qualification_tabs{
 display: flex;
 justify-content: space-evenly;
 margin-bottom: var(--mb-2);
}

.qualification_button{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification_button:hover{
  color: var(--first-color);
}

.qualification_icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification_data{
  direction: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification_title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification_subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification_calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification_line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content]{
  display: none;
}

.qualification_active[data-content]{
  display: block;
}

.qualification_button.qualification_active{
   color: var(--first-color);
}

/*=============== PORTFOLIO ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3rem;
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  display: inline-flex;
  padding: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup__icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}

/*==================== MEDIA QUERIES ====================*/
 /* Responsive typography */
 @media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: .3s;
  }
}

 /* For small devices */
 @media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home__img-bg {
    width: 220px;
  }
  .home__title {
    font-size: var(--h1-font-size);
  }
  .home__button {
    font-size: var(--smaller-font-size);
  }

  .about__img {
    width: 180px;
  }

  
/* For medium devices */
@media screen and (min-width: 576px) {
  .home__img-bg {
    width: 340px;
  }

  .featured__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 8rem 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__link {
    text-transform: initial;
    font-size: var(--normal-font-size);
  }
  .nav__btns {
    margin-left: auto;
  }

  .home__container {
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }
  .home__img-bg {
    order: 1;
    transform: translate(1.5rem, -6rem);
  }
  .home__data {
    padding: 0 0 3rem 6rem;
  }
  .home__social {
    top: 47%;
    column-gap: 2rem;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__section-title {
    text-align: initial;
  }
  .about__section-title::before {
    margin: initial;
  }
  

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__title {
    font-size: var(--h3-font-size);
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .about__container {
    column-gap: 13rem;
  }

  .about__container {
    padding-top: 3rem;
  }
  .about__img {
    left: 5rem;
    top: -5rem;
  }

  .scrollup {
    right: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .section__title {
    font-size: var(--h2-font-size);
  }

    .home__container {
      column-gap: 2rem;
    }
    .home__img-bg {
      width: 480px;
      height: 680px;
    }
    .home__img {
      width: 420px;
    }
    .home__social {
      left: -6rem;
    }
    .home__data {
      padding: 0 0 8rem 6rem;
    }

    .about__container {
      column-gap: 8rem;
    }

    .about__img {
      width: 450px;
    }

  }
}
 
